@model Negocio.Usuario

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="col-md-4 ml-auto mr-auto">
        <div class="card card-login card-plain">
            @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
            {
                <div class="card-header text-center">
                    <div class="logo-container">
                        <img src="~/Content/images/logo-esba.png" alt="ESBA" style="width: 25%;">
                    </div>
                </div>
                <div class="card-body">
                    <div class="input-group no-border input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                        </div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                    </div>
                    <div class="input-group no-border input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons text_caps-small"></i>
                            </span>
                        </div>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Contraseña" } )
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Ingresar</button>
                    <div class="pull-left mt-2">
                        <h6>
                            <a href="#" class="link">Olvidé mi contraseña</a>
                        </h6>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

