@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('../../Content/images/bg.jpg');">
        </div>
        <div class="content-center">
            <div class="container">
                <h1 class="title">ESBA</h1>
            </div>
        </div>
    </div>
</div>

<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Técnico Superio en Análisis de Sistemas</h2>
                <h5 class="description">La única carrera importante</h5>
            </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-container image-left" style="background-image: url('http://www.esbaurquiza.edu.ar/images/system_analysis.jpg')">
                        <!-- First image on the left side -->
                        <p class="blockquote blockquote-primary">
                            <br />
                            "Mis alumnos son lo más"
                            <br />
                            <br />
                            Profe Nacho
                        </p>
                    </div>
                    <!-- Second image on the left side of the article -->
                    <div class="image-container" style="background-image: url('http://www.esbaurquiza.edu.ar/images/system_analysis.jpg')"></div>
                </div>
                <div class="col-md-5">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right" style="background-image: url('http://www.esbaurquiza.edu.ar/images/system_analysis.jpg')"></div>
                    <h3>Inscribite Hoy</h3>
                    <p>
                        No lo pospongas más y comenza a ser parte de nuestra enseñanza para alcanzar tus objetivos personales. INSCRIBITE YA EN NUESTROS PLANES DE ESTUDIO !!!!
                    </p>
                    <p>
                        - INFORMES E INSCRIPCIÓN -

                        NUEVA DIRECCIÓN

                        AV. MONROE 5048

                        Acercate a nuestra sede de Lunes a Viernes desde las 9:00hs hasta las 20:30hs. así en una charla personalizada podemos comentarte las especificaciones de nuestro plan de estudio elegido.
                    </p>
                    <p>
                        NUEVOS CURSOS CORTOS

                        Conocé los detalles de cada uno de los nuevos cursos que comienzan en el segundo semestre del año.


                        Más Información <a href="http://www.esbaurquiza.edu.ar/Cursos_Cortos.asp">click aquí</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-team text-center">
    <div class="container">
        <h2 class="title">Info</h2>
        <div class="team">
            <div class="row">
                <div class="col-md-4">
                    <div class="team-player">
                        <h4 class="title">Mesas de Exámenes</h4>
                        <ul class="list-group">
                            <li class="list-group-item">Tecnicatura Superior en Analisis de Sistemas</li>
                            <li class="list-group-item">Tecnicatura Superior en Marketing</li>
                            <li class="list-group-item">Secundario para Adolescentes Único Turno</li>
                            <li class="list-group-item">Secundario para Adultos Turno Mañana y Turno Tarde</li>
                            <li class="list-group-item">Secundario para Adultos Turno Vespertino</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player">
                        <h4 class="title">Nuestras Carreras</h4>
                        <ul class="list-group">
                            <li class="list-group-item">Nueva Escuela Secundaria - NES</li>
                            <li class="list-group-item">Secundario para Adolescentes</li>
                            <li class="list-group-item">Técnico Superior en Análisis de Sistemas</li>
                            <li class="list-group-item">Técnico Superior en Periodismo con Orientación en Deportes</li>
                            <li class="list-group-item">Técnico Superior en Marketing</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player">
                        <h4 class="title">Nuevos Cursos Cortos</h4>
                        <ul class="list-group">
                            <li class="list-group-item">Coaching I Introducciòn al Rol</li>
                            <li class="list-group-item">Community Manager y Branding</li>
                            <li class="list-group-item">Norma ISO 9001:2015.</li>
                            <li class="list-group-item">Como Gestionar Proyectos para Pequeños Emprendedores Culturales y Sociales.</li>
                            <li class="list-group-item">Relato y Comentario Deportivo.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer footer-default">
    <div class=" container ">
        Av. Monroe 5048. Barrio de Villa Urquiza. Ciudad Autonoma de Buenos Aires.
        Republica Argentina.
        Tel: 4521-3500 / 4522-4935 / 4523-2452 / 4514-8601
    </div>
</footer>