@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('../../Content/images/bg.jpg');">
        </div>
        <div class="content-center">
            <div class="container">
                <h1 class="title">EL ESBA</h1>
            </div>
        </div>
    </div>
</div>

