@model IEnumerable<Negocio.Materia>
@{
    ViewBag.Title = "Historial";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Historial</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                        <th>Nombre</th>
                        <th>Cant. Módulos</th>
                        <th>Estado</th>
                        </thead>
                        <tbody>
                            @foreach (var materia in Model)
                            {
                                <tr>
                                    <td>@materia.Nombre</td>
                                    <td>@materia.CantModulos</td>
                                    <td>@materia.Estado.Descripcion</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



